.section3 {
    justify-content: center;
    align-items: center;
  }
  .section3 .skills-container {
    gap: 5rem;
  }
  .section3 .skills-container div {
    flex-direction: column;
    align-items: center;
  }
  .section3 .skills-container div i {
    font-size: 2.5rem;
  }
  .section3 .skills-container div img {
    justify-content: center;
    align-items: center;
    height: 40px;
  }
  .section3 .skills-container div span {
    font-weight: bold;
  }
  @media (width <= 768px) {
    .section3 .skills-container {
      gap: 2.5rem;
      flex-wrap: wrap;
      justify-content: center;
    }
  }