:root {
  --body-bg: rgb(240, 240, 240);


  --color-lightgray: #C8C8C8;
  --color-yellow: #ffca2f;

  --Dev-color: rgb(253, 250, 73);

  --body-color:rgb(240, 240, 240);
  --body-color:#FFFFFF;

  --link-color:#0e76a8;
  --text-color:#000;
  --border-color:#2a2a2a;

  --text-color-sharpblack: #202020;

  --font-montserrant:"Montserrat", sans-serif;
  --font-Poppins: "Poppins", sans-serif;


}


  



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5rem;
}

.wrapper {
  background: var(--body-color);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

section {
  padding: 4rem;
  margin: 0 auto;
}
